body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative; /* body를 상대적으로 위치시킴 */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    background-color: #333;
    color: white;
    border: none;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s;
    width: 200px;
    height: 60px;
  }
  
  .login-button {
    position: absolute; /* 로그인 버튼을 절대적으로 위치시킴 */
    top: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .login-button:hover {
    background-color: #555;
  }
  